.App {
  .TopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    color: #fff;
    .HeadingData {
      align-items: center;
      display: flex;
      flex-direction: column;
      p {
        &:first-of-type {
          margin-bottom: 0.73rem;
          font-size: 25px;
          font-weight: 900;
          color: salmon;
          letter-spacing: 0.21rem;
          padding-bottom: 0.4rem;
          border-bottom: 1px solid #ccc;
        }
        &:last-of-type {
          margin-top: 0rem;
          font-size: 21px;
          font-weight: 700;
          letter-spacing: 0.14rem;
        }
      }
    }
    .FlexContainer {
      display: flex;
      button {
        border: none;
        outline: none;
        color: white;
        background-color: transparent;
        border: 1px solid #ccc;
        font-size: 18px;
        padding: 0.7rem 1rem;
        margin-right: 1rem;
        border-radius: 4px;
        transition: 0.4s linear;
        &:last-of-type {
          margin: 0;
        }
        &:hover {
          border-color: salmon;
          cursor: pointer;
          transform: scale(1.08);
        }
      }
    }
    hr {
      width: 100%;
      max-width: 1000px;
      margin-top: 1rem;
      border: 1px solid #ccc;
    }
  }
  .StartGameTitle {
    color: #fff;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.14rem;
  }
  .CardContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 240px);
    gap: 18px;
  }
}
